<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #mapsize {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    
    <!--The div element for the map -->
    <div id="mapsize"></div>
   
   <script>
// Initialize and add the map

function initMap() { // function create map
  var c_stat = {lat: 30.6280, lng: -96.3345 }; // The location of college station


  var map = new google.maps.Map(
      document.getElementById('mapsize'), {zoom: 10, center: c_stat});  // adds map to div element: id= mapsize , zoom x10, centered at c_stat coordinates
 
  var marker = new google.maps.Marker({position: c_stat, map: map});  // adds marker to map:map at position: c_stat

}

    </script>    
    

    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF1h0JMLSqf9rzHpsAcDnPmuC074OTCm4&callback=initMap"> //Load the API from the specified URL/ run initMap function
    </script>

  </body>
</html>